@import url('https://fonts.googleapis.com/css2?family=Gayathri:wght@100;400;700&family=Lobster+Two:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* adding fonts */
@font-face {
	font-family: 'hubot-sans';
	src: url('../font/hubot-sans.woff2') format('woff2') tech('variations'),
	     url('../font/hubot-sans.woff2') format('woff2-variations');
	font-weight: 100 1000;
	font-stretch: 25% 151%;
}
/* adding fonts */
@font-face {
	font-family: 'mona-sans';
	src: url('../font/mona-sans.woff2') format('woff2') tech('variations'),
	     url('../font/mona-sans.woff2') format('woff2-variations');
	font-weight: 100 1000;
	font-stretch: 25% 151%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'hubot-sans', sans-serif; */
    font-family: 'mona-sans', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    scroll-padding-top: 3.5rem;
}
:root {  
    --mainBG-color: #162434;
    --color-primary: #cf4545;
    --color-secondary: #83282c;
    --color-tertiary: #99432d;
    --color-Quaternary: #783535;
    --color-quinary: #583437;
    --color-senary:#a4a2e6;
    --menuBG-color: #5c4343;
    --clr-accent: #F7F7FF;
    --text-color: #f5f5f5;
    --white: #ffffff;
    --light-red: #ff9494;
    --clr-gradient: linear-gradient(-90deg, var(--color-primary),var(--color-tertiary));
    /* --ff-title: 'TafelSansPro-Black', sans-serif; */
    --ff-title: 'mona-sans', sans-serif;
    --ff-body: 'mona-sans', sans-serif;
    --ff-body2: 'mona-sans', sans-serif;
    --fw-body: 400;
    --fw-bold: 800;
    --fw-title: 500;
    --big-font: 5.3rem;
    --h4-font: 5.3rem;
    --h2-font: 4.1rem;
    --p-font: 1.1rem;
  }
  html {   
    font-size: 62.5%;
    /* overflow-x: hidden; */
    scroll-behavior: smooth;
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    background: #162434;
    cursor: url(../img/my-cursor.png), auto;
    background-size: cover;
    background-repeat: no-repeat;
    filter: drop-shadow(1px 3px 5px rgb(0, 0, 0));
    /* background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(22,36,52,1) 100%); */
  }
html::-webkit-scrollbar {
    width: 1.1rem;
} 
html::-webkit-scrollbar-track {
    background: var(--mainBG-color);

}
html::-webkit-scrollbar-thumb {
    /* background: -webkit-linear-gradient(rgb(247, 145, 31), rgb(186, 68, 80), rgb(72, 53, 116), rgb(251, 163, 37)); */
    border-radius: 15px;
    background-image: url(../img/scroll-track.png);
    background-size: cover;
}
html::-webkit-scrollbar-thumb:horizontal {
  border-radius: 15px;
  background-image: url(../img/scroll-track-horizontal.png);
  background-size: cover;
}
image,
img {
  cursor: pointer;
}
body {
    background: var(--mainBG-color);
}
abbr{
  font-size: 25px;
  color: #fff;
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 20px 10%;
    transition-duration: .3s;
    background-image: url(../img/header.png);
    background-size: cover;
    background-repeat: no-repeat;
}
header.sticky{
    height: 90px;
    padding: 15px 15%;
    /* background: var(--mainBG-color); */
    opacity: .95;
    transition-duration: .3s;
    background-image: url(../img/header-2.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.sticky .navbar a::after{
    /* background: var(--color-primary); */
    background-image: url(../img/header-2.png);
    background-size: cover;
    background-repeat: no-repeat;
    transition-duration: .3s;
}

.logo {
    max-width: 66px;
    max-height: 82px;
}
.logo:hover {
    width: 66px;
    height: 82px;
    transition: all .38s ease;
}
.navbar {
    display: flex;
    list-style: none;
    text-decoration: none;
}
.navbar li {
    position: relative;
    list-style: none;
    text-decoration: none;
}
.navbar a {
    list-style: none;
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    font-size: 2rem;
    font-family: 'mona-sans', sans-serif;
    padding: 10px 20px;
}
.navbar h2 {
    font-size: 30px;
    font-weight: 400;
    background: var(--text-color);
    filter: drop-shadow(1px 3px 5px rgb(190, 62, 58));
}
.navbar h2:hover {
    font-size: 30px;
    font-weight: 400;
    background: var(--color-primary);
    filter: drop-shadow(1px 3px 5px rgb(190, 62, 58));
}
.navbar a:hover {
    color: #be3e3a;
}
.navbar a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background: var(--color-primary);
    left: 0;
    bottom: -4px;
    transition: ease .40s;
}
.navbar a:hover::after {
    width: 100%;
    background: var(--color-primary);
}
#menu-icon {
    font-size: 32px;
    color: var(--color-secondary);
    z-index: 10001;
    cursor: pointer;
    display: none;
}
.h-btn {
  padding: 3px 20px;
  margin: 3px;
  height: 45px;
  display: inline-block;
  line-height: 35px;
  background: var(--color-primary);
  color: var(--text-color);
  border: none;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all .30s;
  list-style: none;
  text-decoration: none;
  border-bottom: 3px solid var(--white);
  filter: drop-shadow(1px 3px 5px rgb(190, 62, 58));
}
.h-btn:hover {
  padding: 3px 20px;
  margin: 3px;
  line-height: 35px;
  transform: translateX(1%) scaleY(1.2);
  color: var(--light-red);
  background: linear-gradient(to top, #26384b 50%, #506f91);
  filter: drop-shadow(1px 3px 5px rgb(38, 56, 75));

}
.m-c{
--add: 0;
position:relative;
z-index:calc(1 + var(--add)*2);
display:inline-block;
font-weight:calc(200 + 700*var(--add));
font-stretch:calc(100% + 25%*var(--add));
color:hsl(240deg, 100%, calc(85% + 15% * var(--add)));
transition:transform .2s,color .2s,font-stretch .2s,font-weight .2s ease-in-out;
filter: drop-shadow(1px 3px 5px hsl(0, 0%, 0%));
}
.m-c:hover{
    --add: 1;
    color: #be3e3a;
    filter: drop-shadow(1px 3px 5px hsl(0, 0%, 0%));
}
.m-c:hover+.m-c,
.m-c:has(+.m-c:hover){
    --add: 0.7;
    color: #be3e3a;
    filter: drop-shadow(1px 3px 5px hsl(0, 0%, 0%));
}
.m-c:hover+.m-c+.m-c,
.m-c:has(+.m-c+.m-c:hover){
    --add: 0.45;
    color: #be3e3a;
    filter: drop-shadow(1px 3px 5px hsl(0, 0%, 0%));
}
.m-c:hover+.m-c+.m-c+.m-c,
.m-c:has(+.m-c+.m-c+.m-c:hover){
    --add: 0.2;
    color: #be3e3a;
    filter: drop-shadow(1px 3px 5px hsl(0, 0%, 0%));
}
span {
  font-size: 1.6vw;
  font-family: 'mona-sans', sans-serif;
  color: #ff8a86 !important; 
  transition: .1s ease-in-out;
}
span:hover {
  font-size: 1.6vw;
  font-family: 'mona-sans', sans-serif;
  color: #fd8f8b !important; 
  transition: .1s ease-in-out;
}
  .animated {
    font-size: 80px;
    font-weight: 900;
    text-decoration: none;
    background: linear-gradient(to left, #cf4545 50%, #fff 50%, #fff);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.5s ease-out;
    filter: drop-shadow(1px 3px 5px rgb(148, 35, 35));
  }
  .animated:hover {
    background-position: -100%;
    filter: drop-shadow(1px 3px 5px rgb(148, 35, 35));
  }
  .animated-logo {
    font-size: 30px;
    font-weight: 400;
    text-decoration: none;
    background: linear-gradient(to right, #ffffff 50%, #cf4545 50%, #cf4545);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.5s ease-out;
    filter: drop-shadow(1px 3px 5px rgb(148, 35, 35));
  }
  .animated-logo:hover {
    background-position: -100%;
    filter: drop-shadow(1px 3px 5px rgb(148, 35, 35));
  }
  .animated-logo2 {
    font-size: 30px;
    font-weight: 400;
    text-decoration: none;
    background: linear-gradient(to left,#cf4545 50%, #ffffff 50%, #ffffff);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.5s ease-out;
    filter: drop-shadow(1px 3px 5px rgb(148, 35, 35));
  }
  .animated-logo2:hover {
    background-position: 100%;
    filter: drop-shadow(1px 3px 5px rgb(148, 35, 35));
    transition: all 1s ease;
  }
/* About */
section{
    padding: 120px 15%;
}
.home{
    height: 100vh;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    background: var(--mainBG-color);
    /* background: url(../img/work-bg.png);
    background-size: cover;
    background-repeat: no-repeat; */
}
.home-text h1{
    margin: 15px 0px 15px;
    font-size: var(--big-font);
    color: var(--text-color);
}
.home-text h4{
    font-size: 35px;
    font-weight: 600;
    color: var(--text-color);
    font-family: 'hubot-sans', sans-serif;

}
.home-text h3 {
    font-size: 35px;
    font-weight: 500;
    color: var(--text-color);
}
.home-text p {
    font-size: 25px;
    font-weight: 300;
    line-height: 30px;
    color: var(--color-primary);
    margin-bottom: 55px;
    filter: drop-shadow(1px 2px 2px rgb(0, 0, 0));
}
.home-img img{
  height: 450px;
  width: 450px;
  margin-left: 900px;
  margin-top: -550px;
  border-radius: 50%;
  filter: drop-shadow(1px 5px 15px #943c3c);
}

/* .home-img .circle-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-top: .2rem solid var(--second-bg-color);
  border-bottom: .2rem solid var(--second-bg-color);
  border-left: .2rem solid var(--main-color);
  border-right: .2rem solid var(--main-color);
  animation: aboutSpinner 8s linear infinite;
} */

/* Animation reload and scroll */
/* .animate {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  z-index: 98;
} */
/* keyframe animations */
/* @keyframes aboutSpinner {
  100% {
      transform: translate(-50%, -50%) rotate(360deg);
  }
}  */

/* @keyframes showRight {
  100% {
      width: 0;
  }
}  */

/* about */
.about {
    background: var(--mainBG-color);   
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    /* background: url(../img/work-bg.png);
    background-size: cover;
    background-repeat: no-repeat; */
}
.about-img img{
    height: 70%;
    width: 70%;
    /* border-radius: 50% 20% / 20% 50%; */
    border-radius: 90px 5px 5px 90px;
    filter: drop-shadow(1px 3px 5px rgb(223, 71, 44));
}
.about-text {
    color: var(--text-color);
}
.about-text h4 {
    font-size: 30px;
    margin-bottom: 1.5rem;
    line-height: 1.3;
    font-family: 'mona-sans', sans-serif;
    transition: all 1s ease;
}
.about-text h3 {
  font-size: 30px;
  margin-bottom: 1.5rem;
  line-height: 1.3;
}
.about-text h1 {
    font-size: var(--big-font);
    margin-bottom: 2rem;
    line-height: 1.3;
    margin: 0px 0px;
    font-weight: 600;
}
.about-text p {
    font-size: 25px;
    font-weight: 300;
    line-height: 30px;
    color: var(--color-primary);
    margin-bottom: 2.3rem;
    filter: drop-shadow(1px 2px 2px rgb(0, 0, 0));
  }

/* Work */
.work {
    background: var(--mainBG-color);   
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    /* background: url(../img/work-bg.png);
    background-size: cover;
    background-repeat: no-repeat; */
}
.work h4{
  font-family: 'hubot-sans', sans-serif;
    line-height: 1.5;
    font-size: 3.5rem;
    left: 20px;
    top: 5px;
    color: var(--text-color);  
}
.work-text h1 {
  font-size: var(--big-font);
  margin-bottom: 2rem;
  line-height: 1.3;
  margin: 0px 0px;
  font-weight: 600;
}
.work-text p {
  color: var(--color-senary);
  font-size: 25px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 2.3rem;
  filter: drop-shadow(1px 2px 2px rgb(0, 0, 0));
}
.work-text {
  position: relative;
  width: 800px;
  height: 400px;
  left: 20px;
  top: -90px;
  color: var(--text-color);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

#testimonial-carousel {
    padding: 200% 200%;
    margin: 20px 20px 20px 20px;
    height: 800px;
    width: 800px;
    margin-right: 500px;
    margin-top: -200px;
    text-align: center;
    border-radius: 20px 20px 20px 20px;
    background-color: var(--mainBG-color);
    color: var(--mainBG-color);
    transition: all 1s ease;
    z-index: 2;
 
  }
  .testimonial-text {
    font-size: 2.5rem;
    line-height: 1.5;
    font-size: var(--h2-font);
    color: var(--text-color);
  }
  .testimonial-text h2{
    font-size: 2.5rem;
    line-height: 1.5;
    font-size: var(--h2-font);
    color: var(--text-color);
  }
  
  /*   makes the images round  */
  .testimonial-image {
    width: 100%;
  /* this make this Round -> */  
    border-radius: 8px 8px 8px 8px;
    margin: 0px;
  }

  /* end work */
.gallery {
    background: var(--mainBG-color);
    /* background: url(../img/work-bg.png);
    background-size: cover;
    background-repeat: no-repeat; */
}
.gallery h4{
  font-family: 'hubot-sans', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-size: var(--h2-font);
  color: var(--text-color);
  transition: all 1s ease;
}
.gallery h2{
    font-size: 3.5rem;
    line-height: 1.5;
    font-size: var(--h2-font);
    color: var(--text-color);
}
.image-hover { 
    filter: drop-shadow(1px 2px 3px rgb(218, 93, 93));
    /* filter:
    drop-shadow(0px 2px 3px #f89a9a)
    drop-shadow(1px 4px 5px #783575)
     drop-shadow(2px 3px 4px #83282c); */
  }
/* .gradient-box {
  
    display: flex;
    align-items: center;
    width: 50vw;
    width: 90%;
    margin: auto;
    max-width: 22em;
  
    position: relative;
    padding: 30% 2em;
    box-sizing: border-box;
  
    border: 5px;
    color: #FFF;
    background: #000;
    background-clip: padding-box; !importanté */
    /* border: solid $border transparent;  !importanté 
    border-radius: 1em;
  
    &:before {
      content: '';
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: -1;
      margin: -$border;  !importanté */
      /* border-radius: inherit;  !importanté */
      /* background: linear-gradient(to right, #cf4545, #ff9100, #783575);
    }
  }    */
/* Music */
.music-about {
  position: relative;
  width: 800px;
  height: 150px;
  left: 700px;
  top: 200px;
  color: var(--text-color);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.music-about h4 {
  font-family: 'hubot-sans', sans-serif;
  font-size: 40px;
  margin-bottom: 2rem;
  line-height: 1.3;
  transition: all 1s ease;
}
.music-about h1 {
  font-size: var(--big-font);
  margin-bottom: 2rem;
  line-height: 1.3;
  margin: 0px 30px;
  font-weight: 600;
}
.music-about p {
  font-size: 30px;
  font-weight: 300;
  font-family: 'hubot-sans', sans-serif;
  line-height: 36px;
  color: #ff8a8a;
  margin-bottom: 55px;
  filter: drop-shadow(1px 3px 5px #ff8a8a);
}
.Music{
  height: 100vh;
  width: 100%;
}
/* .music-bg{ */
  /* background: url(../img/work-bg.png);
  background-size: cover;
  background-repeat: no-repeat; */
/* } */
/* mp3 */
audio::-webkit-media-controls-panel {
background: linear-gradient(90deg, #e75757 0%, #cf4545 50%, #e75757 100%);    
color: rgb(0, 0, 0);

}
audio::-webkit-media-controls-panel {
    background-color: #ff9100;
    color: rgb(0, 0, 0);
  }
  #audioPlayer {
  position: absolute;
  display: flex;
  grid-template-rows: repeat(2, 2fr);
  background-color: #cf4545;
  color: #000;
  /* box-shadow: 0 9px 18px rgba(167, 60, 60, 0.735), 0 5px 9px rgba(157, 0, 0, 0.637); */
  border-radius: 40px;
	/* box-shadow: #cf4545 1px 2px 3px 4px,
				      #83282c 2px 3px 4px 5px; */
				
  /* filter:
  drop-shadow(3px 3px 3px #cf4545) 
  drop-shadow(5px 7px 10px #83282c); */
  }

  /* Contact */
.contact{
    padding: 50px 15% 40px;
    background: var(--mainBG-color);
    background: url(../img/work-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .main-contact{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 2rem;
  }
  
  .contact-content h4{
  font-family: 'hubot-sans', sans-serif;
  font-size: 35px;
  color: var(--white);
  margin-bottom: 1.5rem;
  cursor: pointer;
  filter: drop-shadow(1px 2px 3px rgb(110, 47, 47));
  }
  .contact-content h4:hover{
    font-size: 35px;
    color: var(--color-primary);
    margin-bottom: 1.5rem;
    cursor: pointer;
    transition: 0.5s ease;
    filter: drop-shadow(1px 2px 3px rgb(110, 47, 47));
    }
  .contact-content li{
    margin-bottom: 16px;
    cursor: pointer;
  }
  .contact-content li a{
    display: block;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 500;
    transition: all .38s ease;
    list-style: none;
    text-decoration: none;
    cursor: pointer;
    transition: all .38s ease-in-out;
  }
  .contact-content li a:hover{
    transform: translateX(15px);
    color: var(--color-primary);
    cursor: pointer;
    transition: all .38s ease-in-out;
  }
  .contact-content .social-media{
    transform: translateX(0px);
    display: block;
    transition: all .38s ease;
    list-style: none;
    text-decoration: none;
    cursor: pointer;
    transition: all .38s ease-in-out;
  }
  .contact-content .social-media:hover{
    transform: translateX(30px);
    display: block;
    transition: all .38s ease;
    list-style: none;
    text-decoration: none;
    cursor: pointer;
    transition: all .38s ease-in-out;
  }
  .Last-text p{
  text-align: center;
  padding: 25px;
  color: var(--text-color);
  background: var(--mainBG-color);
  font-size: 15px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all .38s ease-in-out;
  }
  .Last-text p:hover{
    text-align: center;
    padding: 25px;
    color: var(--color-primary);
    background: var(--mainBG-color);
    font-size: 15px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .38s ease-in-out;
    }
  .scroll-top{
  position: fixed;
  bottom: 9rem;
  right: 2.2rem;
  filter: drop-shadow(2px 3px 6px rgb(223, 71, 44));
  background-image: url(../img/logo.png);
  background-size: cover;
  }
  .scroll-top:hover{
    position: fixed;
    bottom: 9rem;
    right: 2.2rem;
    filter: drop-shadow(2px 3px 6px rgb(223, 71, 44));
    background-image: url(../img/logoToTop.png);
    background-size: cover;
    }
  .music-icon {
    color: var(--text-color);
  }
  .music-icon:Hover{
    background: url(../img/musicHover.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
/* Wobble */
  .box {
    animation: wobble 350s ease infinite;
}
.box-2 {
  animation: wobble 150s ease infinite;
}
@keyframes wobble {
    0%, 100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }

    15% {
        -webkit-transform: translateX(-32px) rotate(-10deg);
        transform: translateX(-32px) rotate(-10deg);
    }

    30% {
        -webkit-transform: translateX(calc(32px / 2)) rotate(10deg);
        transform: translateX(calc(32px / 2)) rotate(10deg);
    }

    45% {
        -webkit-transform: translateX(calc(-32px / 2)) rotate(calc(-10deg / 1.8));
        transform: translateX(calc(-32px / 2)) rotate(calc(-10deg / 1.8));
    }

    60% {
        -webkit-transform: translateX(calc(32px / 3.3)) rotate(calc(10deg / 3));
        transform: translateX(calc(32px / 3.3)) rotate(calc(10deg / 3));
    }

    75% {
        -webkit-transform: translateX(calc(-32px / 5.5)) rotate(calc(-10deg / 5));
        transform: translateX(calc(-32px / 5.5)) rotate(calc(-10deg / 5));
    }
}

/* slider-2 */
/* .carousel__bg{
    background: url(../img/header-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
} */

/* adding fonts */
@font-face {
  font-family: 'mona-sans';
  src: url('../font/mona-sans.woff2') format('woff2') tech('veriations'),
       url('../font/mona-sans.woff2') format('woff-variations')
  font-weight: 100 1000;
  font-stretch: 25% 151%;
}
@font-face {
	font-family: 'hubot-sans';
	src: url('../font/hubot-sans.woff2') format('woff2') tech('variations'),
	     url('../font/hubot-sans.woff2') format('woff2-variations');
	font-weight: 100 1000;
	font-stretch: 25% 151%;
}



/* @media */

@media only screen and (max-width: 900px){
  :root{
    --big-font: 3rem;
    --h2-font: 1.8rem;
    transition: .2s;
  }
  .home{
    grid-template-columns: 1fr;
    height: 114vh;
  }
  .home-img img{
    height: 209px;
    width: 168px;
  }
  .home-text h3 {
    font-family: 'mona-sans', sans-serif;
    font-size: 35px;
    font-weight: 500;
    color: var(--color-primary);
}
}
@media only screen and (max-width: 900px){
  .about{
    grid-template-columns: 1fr;
  }
  .about-img{
    margin: 80px;
    text-align: center;
  }
  .about-img img{
    height: auto;
    max-width: 200px;
    width: 40%;
  }
  dl{
    display: none;
  }
  .work{
    grid-template-columns: 1fr;
    gap: 100px;
    height: 110vh;
  }
  .testimonial-image {
    height: 100%;
    width: 50%;
  /* this make this Round -> */  
    border-radius: 30px;
    /* margin-right: 20px; */
    top: 20px;
    cursor: pointer;
  }
}
  @media only screen and (max-width: 900px){
  .gallery{
    grid-template-columns: 1fr;
    gap: 130px;
    height: 400vh;
  }
}
@media only screen and (max-width: 900px){
  .music {
    position: relative;
    width: 800px;
    height: 500px;
    left: -100px;
    color: var(--text-color);
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }
  .music-about {
    position: relative;
    width: 900px;
    height: 500px;
    left: -15px;
    gap: 0px;
    color: var(--text-color);
    display: flex;
    grid-template-columns: 1fr;
    align-items: center;
  }
  .music-about h4,h2 {
    /* margin-right: 10px; */
    margin-bottom: 150px;  
    font-family: 'mona-sans', sans-serif;
    font-size: 50px;
    font-weight: 600;
    color: var(--color-tertiary);
  }
  .music-about h1 {
    font-family: 'mona-sans', sans-serif;
    font-size: var(--big-font);
    /* margin-bottom: 250px; */
    line-height: 1.3;
    /* margin: 0px; */
    font-weight: 600;
    color: var(--white);
  }
  .music-about h3 {
    margin-bottom: 20px;  
    font-family: 'mona-sans', sans-serif;
    font-size: 45px;
    font-weight: 600;
    color: var(--color-primary);
    /* margin-bottom: 300px; */
    }
  .music-about p {
    margin-bottom: 150px;  
    font-weight: 300;
    font-family: 'mona-sans';
    line-height: 36px;
    color: var(--color-senary);
    font-size: 30px;
    color: var(--color-tertiary);
    /* margin-bottom: 250px; */
    filter: drop-shadow(1px 3px 5px hsl(0, 100%, 50%));
  }
  .Music{
    height: 250vh;
    width: 100%;
  }

}

@media only screen and (max-width: 900px){
  /* Contact */
.contact{
  padding: 40px 10% 30px;
  background: var(--mainBG-color);
  /* background: url(../img/header-bg.png);
  background-size: cover;
  background-repeat: no-repeat; */
}
.main-contact{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  gap: 2rem;
}
.contact-content h1{
  font-family: 'Arcane Nine';
  font-size: 35px;
  color: var(--white);
  margin-bottom: 1.0rem;
  cursor: pointer;
  filter: drop-shadow(0px 0px 0px rgb(148, 76, 76));
  }
.contact-content h4{
font-family: 'Arcane Nine';
font-size: 35px;
color: var(--white);
margin-bottom: 1.5rem;
cursor: pointer;
filter: drop-shadow(0px 0px 0px rgb(148, 76, 76));
}
.contact-content h4:hover{
  font-family: 'Arcane Nine';
  font-size: 35px;
  color: var(--color-tertiary);
  margin-bottom: 1.5rem;
  cursor: pointer;
  filter: drop-shadow(0px 0px 0px rgb(148, 76, 76));
  }
.contact-content li{
  margin-bottom: 10px;
  cursor: pointer;
  filter: drop-shadow(0px 0px 0px rgb(148, 76, 76));
  font-family: 'mona-sans', sans-serif;;
}
.contact-content li a{
  display: block;
  color: var(--text-color);
  font-family: 'mona-sans', sans-serif;;
  font-size: 15px;
  font-weight: 500;
  transition: all .38s ease;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  filter: drop-shadow(0px 1px 2px rgb(255, 0, 0));

}
.contact-content li a:hover{
  transform: translateX(10px);
  color: var(--color-tertiary);
  cursor: pointer;
  filter: drop-shadow(0px 0px 0px rgb(148, 76, 76));

}
.contact-content .social-media{
  transform: translateY(0px);
  display: inline-block;
  transition: all .38s ease;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  filter: drop-shadow(0px 0px 0px rgb(148, 76, 76));
}
.contact-content .social-media:hover{
  transform: translateY(30px);
  display: inline-block;
  transition: all .38s ease;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  filter: drop-shadow(0px 0px 0px rgb(148, 76, 76));
}
.Last-text p{
text-align: center;
padding: 50px;
color: var(--text-color);
background: var(--mainBG-color);
font-size: 15px;
letter-spacing: 2px;
font-family: 'mona-sans', sans-serif;
cursor: pointer;
}
.Last-text p:hover{
  text-align: center;
  padding: 50px;
  color: var(--color-tertiary);
  background: var(--mainBG-color);
  font-size: 15px;
  letter-spacing: 2px;
  cursor: pointer;
  font-family: 'mona-sans', sans-serif;
  }
.scroll-top{
position: fixed;
bottom: 2.4rem;
right: 2.4rem;
filter: drop-shadow(0px 1px 2px rgb(255, 0, 0));
}
.scroll-top:hover{
position: fixed;
bottom: 2.4rem;
right: 2.4rem;
background-image: url(../img/totop-hover.png) 67 67;
background-size: cover;
filter: drop-shadow(0px 1px 2px rgb(255, 0, 0));
} 
 
}
@media only screen and (max-width: 900px){
  .h-btn {
    padding: 5px 20px;
    margin: -25px;
    height: 50px;
    width: 200px;
    display: inline-block;
    line-height: 42px;
    background: var(--color-primary);
    color: var(--text-color);
    border: none;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all .60s;
    list-style: none;
    text-decoration: none;
    border-bottom: 3px solid var(--white);
    filter: drop-shadow(1px 3px 5px rgb(190, 62, 58));
    background: linear-gradient(45deg, rgba(255,145,0,1) 0%, rgba(207,69,69,1) 50%, rgba(120,53,117,1) 100%);    
  
  }
  .h-btn:hover {
    padding: 5px 20px;
    margin: -25px;
    height: 50px;
    width: 200px;
    transform: translateX(0) scaleY(1.1);
    transition: all .60s;
    color: var(--color-senary); 
    background: var(--color-senary);
    -webkit-transition: all .60s;
    -moz-transition: all .60s;
    -o-transition: all .60s;
    transition: all .60s;
    filter: drop-shadow(1px 3px 5px hsl(0, 17%, 40%));
    background: linear-gradient(-45deg, rgb(175, 0, 0) 0%, rgba(207,69,69,1) 50%, rgba(120,53,117,1) 100%);    
  
  }
}
@media only screen and (max-width: 900px){
  .m-c{
    --add: 0;
    position:relative;
    z-index:calc(1 + var(--add)*2);
    display:inline-block;
    font-weight:calc(200 + 700*var(--add));
    font-stretch:calc(100% + 25%*var(--add));
    color:hsl(240deg, 100%, calc(85% + 15% * var(--add)));
    transition:transform .2s,color .2s,font-stretch .2s,font-weight .2s ease-in-out;
    filter: drop-shadow(1px 3px 5px hsl(0, 0%, 0%));
  }
    .m-c:hover{
        --add: 1;
        color: #cf4545;
        filter: drop-shadow(1px 3px 5px hsl(0, 0%, 0%));
    }
    .m-c:hover+.m-c,
    .m-c:has(+.m-c:hover){
        --add: 0.7;
        color: #cf4545;
        filter: drop-shadow(1px 3px 5px hsl(0, 0%, 0%));
    }
    .m-c:hover+.m-c+.m-c,
    .m-c:has(+.m-c+.m-c:hover){
        --add: 0.45;
        color: #cf4545;
        filter: drop-shadow(1px 3px 5px hsl(0, 0%, 0%));
    }
    .m-c:hover+.m-c+.m-c+.m-c,
    .m-c:has(+.m-c+.m-c+.m-c:hover){
        --add: 0.2;
        color: #cf4545;
        filter: drop-shadow(1px 3px 5px hsl(0, 0%, 0%));
    }
    span {
      font-size: 2.9vw;
      font-family: 'mona-sans', sans-serif;
      color: #cf4545 !important; 
      transition: .1s ease-in-out;
    }
    span:hover {
      font-size: 2.9vw;
      font-family: 'mona-sans', sans-serif;
      color: #cf4545 !important; 
      transition: .1s ease-in-out;
    }
}

/* @media only screen and (max-width: 900px) {
  .navbar-toggler {
  font-size: 10px;
}
.navbar-toggler::after {
  font-size: 10px;
  display: hidden;
} */

/* ANIMATED BACKGROUND */
.animatedBackground{
    background-color: #161516;
    width: 100%;
    height: 100vh;
    animation: backgroundChange 30s 5s infinite;
}

.animatedBackground::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(145deg, #16151690, #16151600);
}

@keyframes backgroundChange{
    0%{
        background-color: #121112;
    }
    20%{
        background-color: #311515;
    }
    40%{
        background-color: #2e1012;
    }
    60%{
        background-color: #2e1d08;
    }
    80%{
        background-color: #1d0e1c;
    }
    100%{
        background-color: #121112;
    }
}

/* Cursor */
.custom {
  /* The second value here is a fallback. */
  cursor: url(../img/my-cursor.png), auto;
  background-size: cover;
  background-repeat: no-repeat;


  /* You may need coordinates to adjust the pointer
     for example, the custom cursor is circular and you want
     the middle to be where you click */
  cursor: url(../img/cursor.cur) 20 26, pointer;
  background-size: cover;
  background-repeat: no-repeat;
}
